@{
    ViewBag.Title = "Recognize";
}
<h2 style="color:white">@ViewBag.Title</h2>
<h3 style="color:white">Show your support.</h3>

<p style="color:white">This is where we will recognize employees</p>
<div class="topnav">
    <input type="text" placeholder="Search..">
</div>

@Html.EnumDropDownListFor(model => model.Award)
