
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<div>
    <p>Our Email: <a href="https://centricconsulting.com/contact/" class="btn btn-primary" role="button"> <b>Contact Us</b></a>  </p>
    <p>Our Phone Number: <h4>614-519-0798</h4> </p>
    <p>Our Office: <h4>1020 Dennison Ave, Suite 302, Columbus, OH 43201</h4> </p>
</div>
<h1>Our Social Platforms</h1>
<div>
    <div class="col-md-2">
        <a href="https://www.facebook.com/CentricConsultingNational/" class="btn btn-info" role="button"> <b>Facebook</b></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.instagram.com/centricconsulting/?hl=en" class="btn btn-info" role="button"> <b>Instagram</b></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.linkedin.com/company/centric-consulting/" class="btn btn-info" role="button"> <b>LinkedIn</b></a>
    </div>
    <div class="col-md-2">
        <a href=" https://twitter.com/centric" class="btn btn-info" role="button"> <b>Twitter</b></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw" class="btn btn-info" role="button"> <b>Youtube</b></a>
    </div>
</div>
<br />
<br />

