@{
    ViewBag.Title = "Centric Landing Page";
}

<br />
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Centric Values</h1>
    <p>
        The core reason we exist is to create unmatched experiences for clients and employees. We want you to recognize your fellow
        associates for living our values.
    </p>
    <style>
        .btn {
            background-color: #2C1B5E;
            color: white;
            width: stretch;
            font-size: 24px;
        }
    </style>

    <a href="~/RegisterSecondaries/Index" class="btn btn-primary" role="button"> <b>Recognize Colleagues</b></a>

</div>
<br />
<style>
    .well2 {
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        width: 420px;
        justify-content: center;
    }
</style>
<div class="well2 text-center" style="position:relative; left:355px; top:2px;">
    <div id="container">
        <div class="row1">
            <div class="name">Player1</div><div class="score">430</div>
        </div>

        <div class="row1">
            <div class="name">Player2</div><div class="score">580</div>
        </div>

        <div class="row1">
            <div class="name">Player3</div><div class="score">310</div>
        </div>

        <div class="row1">
            <div class="name">Player4</div><div class="score">640</div>
        </div>

        <div class="row1">
            <div class="name">Player5</div><div class="score">495</div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row" style="padding: 0 0 0 60px;">
        <div class="col-sm-4">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>1. Commit to Delivery Excellence</h2>
                    </div>
                    <div class="flip-box-back">
                        <p>
                            We have a passion for consulting excellence. In all of our projects, we strive to first understand
                            your needs and then deliver on our commitments 100 percent of the time.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>2. Embrace Integrity and Openness</h2>
                    </div>
                    <div class="flip-box-back">
                        <p>
                            We value strong, positive relationships that are open and honest. This differentiates
                            us and allows us to accomplish much more than we would be able to otherwise.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>3. Practice Responsible Stewardship</h2>
                    </div>
                    <div class="flip-box-back">
                        <p>
                            We value stewardship and fiscal accountability and always strive to do more with less.
                            We guard and conserve company resources as if they were our own because it makes good
                            business sense at all times, not just during lean times.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row" style="padding: 0 0 0 60px;">
        <div class="col-sm-4">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>4. Invest in an Exceptional Culture</h2>
                    </div>
                    <div class="flip-box-back">
                        <p>
                            We aim to hire and retain talented people from diverse backgrounds who can create a
                            high impact for our clients and internally within our company.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>5. Ignite Passion for the Greater Good</h2>
                    </div>
                    <div class="flip-box-back">
                        <p>
                            We take pride in our commitment to improving the world and actively preserving our environment for future generations. We are devoted to the communities we serve and promote employee involvement in community projects.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>6. Strive to Innovate</h2>
                    </div>
                    <div class="flip-box-back">
                        <p>
                            We value passion, determination, perseverance, and innovation. We are inspired because
                            we believe in what we are doing and where we are going. We believe in using innovation
                            to remove obstacles and help you succeed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row" style="padding: 0 0 0 60px;">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>7. Live a Balanced Life</h2>
                    </div>
                    <div class="flip-box-back">
                        <p>
                            Our employees are our greatest asset. Because of that, we encourage our people to
                            strive for balance in their life, and we monitor projects to ensure our employees have
                            time for family, community and personal interests.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
<br />
<br />  
<br />
<div class="row">
    <div class="col-lg-3">
        &nbsp;
    </div>
    <div class="col-md-2">
        <a href="https://www.facebook.com/CentricConsultingNational/" class="btn btn-secondary" role="button"> <b>Facebook</b></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.instagram.com/centricconsulting/?hl=en" class="btn btn-secondary" role="button"> <b>Instagram</b></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.linkedin.com/company/centric-consulting/" class="btn btn-secondary" role="button"> <b>LinkedIn</b></a>
    </div>
    <div class="col-lg-3">
        &nbsp;
    </div>
</div>


