@{
    ViewBag.Title = "User Profile";
    ViewBag.Email = User.Identity.Name;
    
}
<h2 style="color:white">@ViewBag.Title.</h2>
<h3 style="color:white">The profile page</h3>

<div>
    <p>Email: @Html.ViewContext.HttpContext.User.Identity.Name </p>
    <p></p>
</div>
